.clockBox{
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.digitBox{
    background-color: rgb(124, 124, 124);
    height: 165px;
    width: 100px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    border-radius: 5%;
    margin: 0 10px;
}